* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

    font-family: "Segoe UI", sans-serif;
}


.container {
    width: 480px;
    background: white;

    padding: 35px;

    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}


h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
}


.subtitle {
    text-align: center;
    color: #64748b;
    margin-bottom: 30px;
}


.input-box {
    display: flex;
    gap: 12px;
}


input {
    flex: 1;

    padding: 14px 16px;

    border-radius: 12px;

    border: 2px solid #e2e8f0;

    font-size: 15px;

    outline: none;
}


input:focus {
    border-color: #667eea;
}


button {

    border: none;

    padding: 12px 20px;

    border-radius: 12px;

    cursor: pointer;

    font-weight: 600;

    transition: 0.2s;
}


#addBtn {

    background: #667eea;

    color: white;
}


#addBtn:hover {

    transform: translateY(-2px);

}


.stats {

    display: flex;

    gap: 15px;

    margin: 30px 0;

}


.stat-card {

    flex: 1;

    background: #f8fafc;

    padding: 20px;

    border-radius: 15px;

    text-align: center;

}


.label {

    display: block;

    color: #64748b;

    font-size: 14px;

}


.stat-card span:last-child {

    display: block;

    font-size: 30px;

    font-weight: bold;

    margin-top: 8px;

}


#taskList {

    list-style: none;

}


.task {

    display: flex;

    justify-content: space-evenly;

    align-items: center;

    background: #f8fafc;

    padding: 15px;

    margin-bottom: 12px;

    border-radius: 14px;

    border-left: 5px solid #667eea;

}


.task.completed {

    text-decoration: line-through;

    opacity: 0.6;

}


.actions {

    display: flex;

    gap: 8px;

}


.complete {

    background: #22c55e;

    color: white;

}


.delete {

    background: #ef4444;

    color: white;

}


.complete:hover,
.delete:hover {

    transform: scale(1.05);

}


#message {

    text-align: center;

    margin-top: 20px;

    color: #64748b;

}